.admin-color-fresh .eut-redux-container.redux-container #redux-header {
	background: #23282D url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-light .eut-redux-container.redux-container #redux-header {
    background: #888 url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-blue .eut-redux-container.redux-container #redux-header {
    background: #096484 url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-coffee .eut-redux-container.redux-container #redux-header {
    background: #46403c url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-ectoplasm .eut-redux-container.redux-container #redux-header {
    background: #413256 url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-midnight .eut-redux-container.redux-container #redux-header {
    background: #363b3f url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-ocean .eut-redux-container.redux-container #redux-header {
    background: #627c83 url(../images/eut-logo.png) no-repeat 23px center;
}
.admin-color-sunrise .eut-redux-container.redux-container #redux-header {
    background: #b43c38 url(../images/eut-logo.png) no-repeat 23px center;
}

.eut-redux-container.redux-container #redux-header .display_header {
	float:right;
}

.eut-redux-container.redux-container #redux-header {
	padding: 16px 10px;
}

.eut-redux-container.redux-container #redux-header .rAds,
#redux_rAds  .rAds {
	opacity: 0;
	height: 0;
	display: hidden !important;
}

.eut-redux-container .redux-info-field.eut-redux-info,
.eut-redux-container .redux-notice-field.eut-redux-info {
	padding: 8px 19px;
	background-color: #23beb6;
	margin-bottom: 20px;
	border-radius: 0;
	border: none;
	color: #FFF;
}

.eut-redux-container .redux-main #redux-sticky {
    margin: -10px -21px 8px;
}

.eut-redux-container .redux-group-tab .form-table.no-border {
	margin-bottom: 2em;
}

.eut-redux-container .redux-main .form-table tr {
	border: none !important;
}

.eut-redux-container .redux_field_th {
	font-weight: 700;
	padding: 45px 25px 45px 0;
	display: block;
}

.eut-redux-container .redux-main .form-table>tbody>tr>th {
	width: 25%;
}

.eut-redux-container .redux-info-field.eut-redux-info p,
.eut-redux-container .redux-notice-field.eut-redux-info p,
.eut-redux-container .redux_field_th span {
	font-size: 12px;
}

.eut-redux-container .redux-info-field.eut-redux-info .redux-info-desc b,
.eut-redux-container .redux-notice-field.eut-redux-info .redux-info-desc b {
	font-size: 1.3em;
	font-weight: 300;
}

.eut-redux-container .redux-info-field.eut-redux-sub-info,
.eut-redux-container .redux-notice-field.eut-redux-sub-info {
    padding: 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #f50057;
	border-radius: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0);
}

.eut-redux-container .redux-info-field.eut-redux-sub-info b,
..eut-redux-container redux-notice-field.eut-redux-sub-info b {
	color: #222;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 10px;
	display: inline-block;
}
.eut-redux-container .eut-redux-section.redux-group-tab-link-li{
	background-color: #ecef4a;
}

/* Redux Active Icon */

.eut-redux-container .redux-group-tab-link-li.active i {
	color: #ffffff;
}

.eut-redux-container .redux-sidebar .redux-group-menu li.active a:hover {
	color: #ffffff;
}

.eut-redux-container.redux-container .redux-group-tab .redux-section-desc {
	margin-bottom: 15px;
	color: #B8B8B8;
	font-style: italic;
}


.eut-redux-container.redux-container #redux-intro-text {
	display: none;
}

.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active a {
	color:#ffffff;
}

.eut-redux-container .redux-sidebar .redux-group-menu li a {
	display: block;
	padding: 15px 4px 15px 20px;
	background: #32373C !important;
	background: 0 0;
	border-width: 1px 0;
	border-style: solid;
	border-bottom-color: #464447;
	border-top-color: #F9F9F9;
	opacity: 1;
	color: #ffffff;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: none;
	transition: none;
}

.eut-redux-container .redux-sidebar .redux-group-tab-link-a i {
	vertical-align: middle;
	font-size: 0.9em;
	top: 20px;
	position: absolute;
}

.eut-redux-container .redux-sidebar .subsection .redux-group-tab-link-a i {
    display: none;
}

.eut-redux-container .redux-sidebar .redux-menu-warning i,
.eut-redux-container .redux-sidebar .redux-menu-error i,
.eut-redux-container .redux-sidebar .hasSubSections .extraIconSubsections i {
	margin: 0;
}

.eut-redux-container .redux-sidebar .redux-group-menu li.active a,
.eut-redux-container .redux-sidebar .redux-group-menu li.active a:hover,
.eut-redux-container .redux-sidebar .redux-group-menu li.activeChild a,
.eut-redux-container .redux-sidebar .redux-group-menu li.activeChild a:hover,
.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections a {
	background: #0B0B0B !important;
	border-bottom-color: #0B0B0B;
	color: #ffffff;
	width: 220px;
	opacity: 1;
}

.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover,
.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover{
	color:#000000;
}

.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections a {
	color: #ffffff;
}

.eut-redux-container .redux-sidebar .redux-group-menu li a:hover {
	color: #ffffff;
	background-color: #000000 !important;
}

.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a,
.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.hasIcon a,
.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.hasIcon a {
	width: auto;
	border-top: 0!important;
	padding: 15px;
	color: #ffffff;
	background-color: #f50057 !important;
	-webkit-transition: all .2;
	-moz-transition: all .2;
	-ms-transition: all .2;
	-o-transition: all .2;
	transition: all .2;
}

.admin-color-fresh .eut-redux-container #redux-header {
	border: none;
}

.eut-redux-container.redux-container #info_bar,
.eut-redux-container.redux-container #redux-footer,
.eut-redux-container.redux-container .sticky-footer-fixed {
	background-color: #000000 !important;
	border: none !important;
	box-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.eut-redux-container.redux-container {
	background-color: #23282D !important;
	background-image: none;
	border: 1px solid #DEDEDE;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.4);
	margin-top: 5px;
	overflow: hidden;
}

.eut-redux-container .redux-sidebar .redux-group-menu li.divide {
	display: none;
}
.eut-redux-container .redux-sidebar .redux-group-menu li a:first-child {
    border-top: none;
}

.eut-redux-container .redux-main {
	background: #FCFCFC;
	margin-left: 244px;
	border-left: none;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
}

.eut-redux-container .redux-sidebar {
	width: 244px;
	float: left;
}

.eut-redux-container.redux-container .redux-group-tab h3 {
	font-weight: 300;
	font-size: 25px;
	margin-top: 0;
	line-height: 2.3em;
	padding-bottom: 10px;
	border-bottom: 1px solid #E7E7E7;
}

.eut-redux-container .redux-action_bar .button {
	display: inline-block;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 30px;
	height: 32px;
	margin: 0;
	padding: 0 20px 1px;
	cursor: pointer;
	border-width: 0px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	background: #23282D;
	border: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	color: #9B999C;
}

.eut-redux-container .redux-action_bar .button-primary {
	background: #f50057;
	border: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.0),0 1px 0 rgba(0, 0, 0, 0.0);
	color: #ffffff;
	text-decoration: none;
}

.eut-redux-container .redux-action_bar .button-primary:hover {
	background: #FAFAFA;
	color: #222;
}

@media screen and (max-width: 600px){

	.eut-redux-container .redux-sidebar .subsection .redux-group-tab-link-a i {
		display: block;
	}

	.eut-redux-container .redux-sidebar .redux-group-menu li.active a,
	.eut-redux-container .redux-sidebar .redux-group-menu li.active a:hover,
	.eut-redux-container .redux-sidebar .redux-group-menu li.activeChild a,
	.eut-redux-container .redux-sidebar .redux-group-menu li.activeChild a:hover,
	.admin-color-fresh .eut-redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections a {
		width: 44px;
	}
	.eut-redux-container .redux-main {
		margin-left: 54px;
	}
	.eut-redux-container .redux-sidebar {
		width: 54px;
	}
	.eut-redux-container .redux-sidebar .redux-group-tab-link-a span {
		background: none repeat scroll 0 0 #464447;
		color: #ffffff;
		border: none;
		left: 54px;
	}

	.eut-redux-container .redux-sidebar .subsection .redux-group-tab-link-a {
		height: 32px;
	}
	.eut-redux-container .redux-sidebar .subsection .redux-group-tab-link-a i {
		top: 20px;
		left: 20px;
	}

	.eut-redux-container .redux-sidebar .subsection .redux-group-tab-link-a span {
		background: none repeat scroll 0 0 #f50057;
	}

}

/* =============================================================================
- Checkboxes Columns
============================================================================= */
.eut-redux-container .redux-main .eut-redux-columns .data-full li {
    float: left;
    width: 33%;
}