.eut-custom-sidebar-item {
	border: 1px solid #e5e5e5;
	background: none repeat scroll 0 0 #F5F5F5;
	height: 35px;
	cursor: move;
	width: 50%;
	min-width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.eut-custom-sidebar-item h3{
	border-bottom: 1px solid #eee;
	font-size: 1.2em;
	margin-top: 8px;
}
.eut-custom-sidebar-title {   
	height: 35px;
    padding-left: 5px;
}
.eut-custom-sidebar-item-delete-button {
    float: right;
    position: relative;
    right: 10px;
    top: 3px;
}

.eut-notice-red {
	color: red;
}
.eut-notice-green {
	color: green;
}

.eut-sidebar-spinner {
	background: url("../images/spinner.gif") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
	vertical-align: middle;
    display: none;
    float: left;
    height: 20px;
    margin: 2px 5px 0;
    opacity: 0.7;
    width: 20px;
}

